<template>
    <div class="d-flex flex-wrap">
        <span v-if="problem">Sorry, something's gone wrong... Do you have <a href="https://addons.mozilla.org/en-US/firefox/addon/cors-everywhere/">CORS everywhere</a> enabled?</span>
        <div v-for="obj in json.items" :key="obj.link" class="flickr-card-container">
            <!-- TODO set up the author link -->
            <flickr-card :title="obj.title" :title-link="obj.link" :img-src="obj.media.m" :author="obj.author" :author-id="obj.author_id" :description="obj.description" :tags="obj.tags"></flickr-card>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import FlickrCard from "./FlickrCard.vue";

export default {
  data: function() {
    return {
      problem: false,
      json: {}
    };
  },
  created: function() {
    //   Let's request the public api stuff
    var that = this;
    axios
      .get(
        "https://api.flickr.com/services/feeds/photos_public.gne?format=json&nojsoncallback=1"
      )
      .then(function(resp) {
        that.json = resp.data;
      })
      .catch(function(err) {
        console.log(err);
        that.problem = true;
      });
  },
  components: {
    FlickrCard
  }
};
</script>

<style scoped>
.flickr-card-container {
  padding: 1ex 1ex 1ex 1ex;
}
</style>
