<template>
    <b-card class="flickr-card" :img-src="imgSrc" img-alt="TODO" no-body>
        <h4 class="card-title">
            <a :href="titleLink">{{ title }}</a>
            <span class="author-heading"> by <a :href="authorLink">{{ author }}</a></span>
        </h4>
        <div class="card-text">
            <div class="description">
                Description: <span v-html="description"></span>
            </div>
            <div class="tags">
                Tags: <span v-if="tags">{{ tags }}</span><span v-else>(No tags found)</span>
            </div>
        </div>
    </b-card>
</template>

<script>
export default {
  props: [
    "title",
    "titleLink",
    "imgSrc",
    "author",
    "authorId",
    "description",
    "tags"
  ],
  computed: {
    authorLink: function() {
      return "https://www.flickr.com/people/" + this.authorId;
    }
  }
};
</script>

<style scoped>
.author-heading {
  font-size: 80%;
}
.card-img {
  padding: 1ex 1ex 1ex 1ex;
}
.flickr-card {
  max-width: 18em;
}
</style>
