<template>
  <b-container id="app">
    <h1>Flickr demo</h1>
    <h2>Nathanael Farley</h2>
    <flickr-card-deck />
  </b-container>
</template>

<script>
import Vue from "vue";
import BoostrapVue from "bootstrap-vue";
import FlickrCardDeck from "./components/FlickrCardDeck.vue";

// TODO consider whether to keep this in when the app is 'done'.
Vue.use(BoostrapVue);

export default {
  name: "app",
  components: {
    FlickrCardDeck
  }
};
</script>

<style>
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
</style>
